/* Variables de couleurs */
:root {
    --bg-color: #060a13;
    --card-bg: #1e293b;
    --text-color: #f8fafc;
    --text-muted: #94a3b8;
    --primary-color: #6366f1;
    --primary-hover: #4f46e5;
    --danger-color: #ef4444;
    --border-color: #334155;
}

/* RESET CSS (Réinitialisation de base)*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* STYLE GLOBAL DU BODY */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

/* Conteneur principal centré */
.container {
    max-width: 800px;
    margin: 0 auto;
}
/* Le header*/

header {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}

h1 {
    font-size: 1.8rem;
    color: var(--primary-color);
}

/* Formulaire */
.form-card {
    background-color: var(--card-bg);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--border-color);
}

.form-group {
    margin-bottom: 20px;
    border-radius: 50px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 0.9rem;
}

input, textarea {
    width: 100%;
    padding: 12px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    color: white;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--primary-color);
}

.help-text {
    font-size: 0.8rem;
    color: var(--text-muted);
    margin-top: 5px;
}

