/* Variables de couleurs */
:root {
    --bg-color: #060a13;
    --card-bg: #1e293b;
    --text-color: #f8fafc;
    --text-muted: #94a3b8;
    --primary-color: #6366f1;
    --primary-hover: #4f46e5;
    --danger-color: #ef4444;
    --border-color: #334155;
}

/* RESET CSS (Réinitialisation de base)*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* STYLE GLOBAL DU BODY */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding: 20px;
}